.titleBox {
    h5 {
        font-size: 16px;
        color: #ed3237;
        text-transform: uppercase;
        font-weight: 500;
    }
    h2 {
        font-size: 45px;
        color: #4e5a62;
        font-weight: black;
    }
}