.HeaderPrimary {
    box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    background: #fff;
    padding: 20px 0px;
    [class~=navbar-brand] {
        img {
            max-width: 270px;
        }
    }
    [class~=navbar-nav] {
        [class~=nav-link] {
            font-size: 18px;
            color: #333333;
            padding: 0px;
            font-weight: 600;
            &:not(:last-child) {
                padding-right: 30px;
            }
            &[class~=active] {
                color: #ed3237;
            }
        }
    }
}