.HeaderPrimary {
  box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
  background: var(--white);
  padding: 20px 0px;
}

.logo img {
  max-width: 270px !important;
}

.HeaderPrimary [class~="navbar-nav"] a {
  font-size: 18px;
  color: #333333;
  padding: 0px;
  font-weight: 600;
  text-decoration: none;
}
.HeaderPrimary [class~="navbar-nav"] a:not(:last-child) {
  padding-right: 30px;
}
.HeaderPrimary [class~="navbar-nav"] a.active {
  color: var(--primary);
}


/* Responsive CSS */
@media screen and (max-width: 767px) {
  .logo img {
    max-width: 170px !important;
  }
}