.portfolioWrapper {
    [class~=themeTitle] {
        justify-content: center;
        align-items: center;
    }
    [class~=nav] {
        align-items: center;
        justify-content: center;
        border: none;
        padding: 20px 0px;
        [class~=nav-item] {
            padding: 0px 20px;
            @media screen and (max-width: 767px) {
                padding: 0px 10px;
            }
            [class~=nav-link] {
                font-size: 16px;
                font-family: var(--primary-font);
                text-transform: uppercase;
                font-weight: 600;
                color: var(--light-black);
                background: none;
                border: none;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                transition: all 0.3s ease;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                }
                &::after {
                    position: absolute;
                    height: 3px;
                    width: 0%;
                    left: 0px;
                    bottom: 0px;
                    background-color: var(--primary);
                    content: "";
                    display: block;
                    border-radius: 1.5px;
                    transition: all 0.3s ease;
                }
                &:hover {
                    color: var(--primary);
                    &::after {
                        width: 100%;
                        opacity: 1;
                    } 
                }
                &[class~=active] {
                    color: var(--primary);
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .portfolioCard {
        border: none;
        margin-bottom: 30px;
        a {
            text-decoration: none;
        }
        .portfolioThumb {
            border-radius: 15px;
            overflow: hidden;
            max-height: 320px;
            img {
                // max-height: 320px;
                // min-height: 320px;
                // object-fit: cover;
                // width: 100%;
                transition: all 0.3s linear;
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        [class~=card-body] {
            padding: 25px;
            margin-top: -50px;
            z-index: 2;
            position: relative;
            .cardContent {
                background: var(--white);
                box-shadow: 5px 5px 18px 0px rgba(42, 67, 113,0.15);
                border-radius: 15px;
                text-align: center;
                padding: 30px 20px;
                [class~=card-title] {
                    font-size: 20px;
                    font-weight: bold;
                    font-family: var(--primary-font);
                    color: var(--primary);
                    margin-bottom: 10px;
                }
                [class~=card-text] {
                    font-size: 15px;
                    color: var(--light-black);
                    font-family: var(--secondary-font);
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
    }
}