@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --primary: #ed3237;
  --primary-10: #fdeaeb;
  --secondary: #222222;
  --light-black: #4e5a62;
  --bg-secondary: #f3f2f8;
  --facebook: #3d6ad6;
  --twitter: #03a9f4;
  --linkedin: #0077b5;
  --instagram: linear-gradient(to right, #feb80a, #a329a7);
  --primary-font: "Poppins", sans-serif;
  --secondary-font: 'Manrope', sans-serif;
}

.themeTitle {
  display: flex;
  flex-direction: column;
}

.themeTitle h4 {
  background-color: var(--primary-10);
  color: var(--primary);
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 16px;
  border-radius: 22.5px;
  padding: 10px 15px;
  margin-bottom: 12px;
  width: fit-content;
}

.themeTitle h3 {
  color: var(--light-black);
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 30px;
}

.themeTitle h3 span {
  color: var(--primary);
}

.themeButton {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 15px 30px !important;
  text-transform: capitalize;
}

.themeButton:focus,
.themeButton:active,
.themeButton:hover {
  box-shadow: none !important;
}

.themeSectionPadding {
  padding: 100px 0;
}

.themeSectionPadding {
  padding: 120px 0px;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 5px 0 !important;
}

.afteFixedHeader {
  padding-top: 120px;
}

/* .navbar-brand img {
  transition: all 1s ease-in-out;
} */
.sticky .navbar-brand img {
  max-width: 200px !important;
  width: 200px !important;
  height: auto !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-label {
  margin-bottom: 5px !important;
}

.aboutPageTitle .themeTitle h3{
      margin-bottom: 10px;  
}
.aboutPageTitle p{
  margin-bottom: 30px;  
}

.aboutPageTitle p span{
  font-weight: bold;
  text-transform: capitalize;
}

/* Admin css */
.ui.dropdown .menu {
  right: 0;
  left: auto !important;
  top: 48px !important;
  position: relative;
}

.list-header {
  display: flex;
  align-items: center;
}

.list-header svg {
  font-size: 35px;
}

.list-header .content {
  margin-left: 10px;
}

.list-header .content h2 {
  margin: 0;
}

.text-right {
  text-align: right;
}
.text-rights{
  display: flex;
  justify-content: flex-end;

}

.text-rights button:nth-child(2) {
  margin-left: 15px;
}

.action-footer {
  position: fixed;
  bottom: 0;
  background: #f8f8f8f0;
  right: 0;
  padding: 15px;
  text-align: right;
  box-shadow: 0px 0px 0px 1px #f0f0f0;
  width: calc(100% - 220px);
}

@media only screen and (max-width: 1200px) {
  .themeTitle h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}